<div class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded shadow-lg w-1/3">
        <h1 class="text-[50px] font-bold text-center text-blue-500">Unauthorized</h1>
        <h2 class="text-[20px] font-semibold mb-4 text-center text-red-500">You need to login first</h2>
        <div class="flex justify-center">
            <a class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-6 rounded-full transition duration-300 transform hover:scale-105" href="/login">Login</a>
        </div>
    </div>
</div>